#contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 50%;
  border-radius: 5px;
  background-color: #203256;
  padding: 1rem;
}

p {
  text-align: center;
}
